:root {
  --primary-1:#FF9800;
  --primary-2:#dc7c00;
  --primary-3:#8f3d00;
  --accent-1:#646cff;
  --accent-2:#535bf2;
  --text-1:#FFFFFF;
  --text-2:#e0e0e0;
  --bg-1:#2C2F33;
  --bg-2:#3c3f43;
  --bg-3:#55585c;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-1);
  background-color: var(--bg-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  min-height: 100vh;
}

.header {
  background-color: var(--bg-2);
  padding: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}
.header-title {
  font-size: 2em;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
.navbar-item {
  font-size: 1.6em;
  font-weight: 500;
  color: var(--text-2);
  text-decoration: none;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}


@media screen and (min-width: 768px) {
  .header-title {
    font-size: 3em;
  }
  .navbar-item {
    font-size: 2em;
  }
  
}